name: 早
on:
  pull_request:
    branches: [main]
jobs:
  example:
    runs-on: ubuntu-latest
    steps:
      - run: gh api -X POST '/repos/${{ github.repository }}/check-runs' -f name=早早早早早 -f head_sha=${{ github.sha }} -f status=completed -f conclusion=success
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
