name: 早
on:
  pull_request:
    branches: [main]
jobs:
  example:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo '{"name":"早早早早早","head_sha":"${{ github.sha }}","status":"completed","conclusion":"success","output":{"title":"早早","summary":"早"}}' | gh api -X POST '/repos/${{ github.repository }}/check-runs' --input -
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
